<div class="blog-post container">
  <div class="post">
    <div class="img img-fluid">
      <img src={{blog.img}} alt="Decorative Image">
    </div>
    <h2 class="title">{{blog.title}}</h2>
    <h3 class="subtitle"><a href="/blog/{{blog.id}}">{{blog.subtitle}}</a></h3>
    <p class="author"> by {{blog.user.username}}</p>
    <p class="date-created">{{format_date blog.date}}</p>
    <p class="content">{{blog.content}}</p>
  </div>
  <div id="comment-container" class="container">
    {{#each blog.comments as |comment|}}
    <div class="comment">
        <p>{{comment.content}}</p>
        <p>{{format_date comment.date}}</p>
    </div>
    {{/each}}
  </div>
  {{> addcomment}}
</div>