    <div class="container text-center mb-4">
      <h1 class="main-title">Musical Code</h1>
      <h2 class="subtitle">A blog about music and code!</h2>
    </div>
{{#each blogs as |blog|}}
  <div class="blog-post container text-center">
    <div class="post">
      <div class="img">
        <img style="max-width:60vw;" class="img-fluid" src={{blog.img}} alt="Decorative Image" />
      </div>
      <div class="container text-center">
<h2 class="title">{{blog.title}}</h2>
      <h3 class="subtitle"><a
          href="/blog/{{blog.id}}"
        >{{blog.subtitle}}</a></h3>
      <p class="date-created">{{format_date blog.date}}</p>
      <p class="content short-content mx-auto">{{blog.content}}</p>
      </div>
    </div>
  </div>
{{/each}}
{{!-- each blog post in the database will be displayed here in order of newest to oldest. --}}